trigger:
  branches:
    include:
      - master

pool: default

variables:
  AZURE_WEBAPP_NAME: 'efm-onlineshop'
  CONFIGURATION: 'Release'
  DOTNET_CORE_VERSION: '10.0.x'
  WORKING_DIRECTORY: 'src/api/EFM.Api'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: $(DOTNET_CORE_VERSION)

    - task: DotNetCoreCLI@2
      displayName: 'Restore'
      inputs:
        command: 'restore'
        projects: '$(WORKING_DIRECTORY)'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--configuration $(CONFIGURATION) --no-restore'

    - task: DotNetCoreCLI@2
      displayName: 'Test'
      inputs:
        command: 'test'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--no-build'

    - task: DotNetCoreCLI@2
      displayName: 'Publish'
      inputs:
        command: 'publish'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--configuration $(CONFIGURATION) --output "$(Build.ArtifactStagingDirectory)"'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'webapp'
        publishLocation: 'Container'

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        artifactName: 'webapp'
        downloadPath: '$(Pipeline.Workspace)'

    - task: AzureWebApp@1
      displayName: 'Deploy to Azure WebApp'
      inputs:
        azureSubscription: 'efm-onlineshop-api'   # your service connection name
        appName: '$(AZURE_WEBAPP_NAME)'               # App Service name
        package: '$(Pipeline.Workspace)/webapp'       # deploy the folder
        appType: 'webApp'