trigger:
  branches:
    include: [ master ]

pool: default

variables:
  AZURE_WEBAPP_NAME: 'efm-onlineshop'
  CONFIGURATION: 'Release'
  DOTNET_CORE_VERSION: '8.0.x'   # Use the SDK your API actually targets
  WORKING_DIRECTORY: 'src/api/EFM.Api'
  ZIP_NAME: 'EFM.Api.zip'
  ZIP_PATH: '$(Build.ArtifactStagingDirectory)/$(ZIP_NAME)'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    # 1. Install SDK FIRST
    - task: UseDotNet@2
      displayName: 'Install .NET SDK'
      inputs:
        packageType: 'sdk'
        version: $(DOTNET_CORE_VERSION)

    # 2. Restore using the correct SDK
    - task: DotNetCoreCLI@2 
      displayName: 'Restore API'
      inputs: 
        command: 'restore' 
        projects: '$(WORKING_DIRECTORY)/EFM.Api.csproj'

    # 3. Build
    - task: DotNetCoreCLI@2
      displayName: 'Build API'
      inputs:
        command: 'build'
        projects: '$(WORKING_DIRECTORY)/EFM.Api.csproj'
        arguments: '--configuration $(CONFIGURATION)'

    # 4. Publish (NO --no-build)
    - task: DotNetCoreCLI@2
      displayName: 'Publish API'
      inputs:
        command: 'publish'
        projects: '$(WORKING_DIRECTORY)/EFM.Api.csproj'
        arguments: '--configuration $(CONFIGURATION) --output "$(Build.ArtifactStagingDirectory)/publish"'

    # 5. Zip output
    - task: ArchiveFiles@2
      displayName: 'Zip publish contents'
      inputs:
        rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/publish'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(ZIP_PATH)'
        replaceExistingArchive: true

    # 6. Publish artifact
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(ZIP_PATH)'
        ArtifactName: 'webapp'
        publishLocation: 'Container'

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        artifactName: 'webapp'
        downloadPath: '$(Pipeline.Workspace)'

    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'efm-onlineshop-api'
        appName: '$(AZURE_WEBAPP_NAME)'
        package: '$(Pipeline.Workspace)/webapp/$(ZIP_NAME)'
        appType: 'webApp'
