trigger:
  branches:
    include:
      - master

pool: default

variables:
  AZURE_WEBAPP_NAME: 'efm-onlineshop'
  CONFIGURATION: 'Release'
  DOTNET_CORE_VERSION: '10.0.x'
  WORKING_DIRECTORY: 'src/api/EFM.Api'

stages:

# ============================
# BUILD STAGE
# ============================
- stage: Build
  jobs:
  - job: BuildJob
    steps:

    - task: UseDotNet@2
      displayName: 'Install .NET SDK'
      inputs:
        packageType: 'sdk'
        version: $(DOTNET_CORE_VERSION)

    - task: DotNetCoreCLI@2
      displayName: 'Restore'
      inputs:
        command: 'restore'
        projects: '$(WORKING_DIRECTORY)'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--configuration $(CONFIGURATION) --no-restore'

    - task: DotNetCoreCLI@2
      displayName: 'Test'
      inputs:
        command: 'test'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--no-build'

    # PUBLISH INTO A CLEAN FOLDER
    - task: DotNetCoreCLI@2
      displayName: 'Publish'
      inputs:
        command: 'publish'
        projects: '$(WORKING_DIRECTORY)'
        arguments: '--configuration $(CONFIGURATION) --output "$(Build.ArtifactStagingDirectory)/publish"'

    # ZIP THE PUBLISH OUTPUT
# PUBLISH THE PUBLISH FOLDER (NOT A ZIP)
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'
        ArtifactName: 'webapp'
        publishLocation: 'Container'



# ============================
# DEPLOY STAGE
# ============================
- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:

    - task: DownloadBuildArtifacts@0
      displayName: 'Download Artifact'
      inputs:
        artifactName: 'webapp'
        downloadPath: '$(Pipeline.Workspace)'

    # DEPLOY THE ZIP PACKAGE
    - task: AzureWebApp@1
      displayName: 'Deploy to Azure WebApp'
      inputs:
        azureSubscription: 'efm-onlineshop-api'
        appName: '$(AZURE_WEBAPP_NAME)'
        package: '$(Pipeline.Workspace)/webapp'
        appType: 'webApp'
        deploymentMethod: 'zipDeploy'
        enableCustomDeployment: true
        takeAppOfflineFlag: true
