trigger:
  branches:
    include:
      - master

pool: default

variables:
  AZURE_WEBAPP_NAME: 'efm-onlineshop'
  CONFIGURATION: 'Release'
  DOTNET_CORE_VERSION: '10.0.x'
  WORKING_DIRECTORY: 'src/api/EFM.Api'
  ZIP_NAME: 'EFM.Api.zip'
  ZIP_PATH: '$(Build.ArtifactStagingDirectory)/$(ZIP_NAME)'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: $(DOTNET_CORE_VERSION)

    - task: DotNetCoreCLI@2
      displayName: 'Restore'
      inputs:
        command: 'restore'
        projects: '$(WORKING_DIRECTORY)/**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '$(WORKING_DIRECTORY)/**/*.csproj'
        arguments: '--configuration $(CONFIGURATION)'

    - task: DotNetCoreCLI@2
      displayName: 'Publish'
      inputs:
        command: 'publish'
        projects: '$(WORKING_DIRECTORY)/**/*.csproj'
        arguments: '--configuration $(CONFIGURATION) --output "$(Build.ArtifactStagingDirectory)"'

    - powershell: |
        Write-Host "Publish folder: $(Build.ArtifactStagingDirectory)"
        if (-not (Test-Path "$(Build.ArtifactStagingDirectory)")) { Write-Error "Publish folder missing"; exit 1 }
        Get-ChildItem -Path "$(Build.ArtifactStagingDirectory)" -Recurse | ForEach-Object { Write-Host $_.FullName }
      displayName: 'List publish output'

    - task: ArchiveFiles@2
      displayName: 'Zip publish output'
      inputs:
        rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'    # use folder (no wildcard) on Windows agents
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(ZIP_PATH)'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(ZIP_PATH)'
        ArtifactName: 'webapp'
        publishLocation: 'Container'

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        artifactName: 'webapp'
        downloadPath: '$(Pipeline.Workspace)'

    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'AzureSP-efm-onlineshop2'
        appName: '$(AZURE_WEBAPP_NAME)'
        package: '$(Pipeline.Workspace)/webapp/$(ZIP_NAME)'
        appType: 'webApp'
